@import url("https://p.typekit.net/p.css?s=1&k=nnh8xid&ht=tk&f=15557.27841.48821.48823.48827&a=89276843&app=typekit&e=css");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply font-modesto font-bold text-8xl leading-none tracking-[0.3em] text-center
    handheld:text-6xl handheld:tracking-[0.1em];
  }

  h2 {
    @apply font-modesto font-bold text-5xl leading-none tracking-widest mb-8 text-center
    handheld:text-4xl;
  }

  h3 {
    @apply font-modesto font-bold text-4xl leading-none tracking-[0.2em]
    handheld:text-2xl;
  }

  h4 {
    @apply font-modesto font-bold text-5xl leading-none tracking-[0.2em];
  }

  h5 {
    @apply text-whiteText font-bold text-2xl leading-none tracking-widest mb-8;
  }

  h6 {
    @apply font-bold text-xl tracking-widest;
  }

  p {
    font-size: 1.1em;
    text-align: justify;
  }

  @media (max-width: 750px) {
    p {
      text-align: left;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply font-indivisible;
  @apply text-whiteText;
  @apply bg-black;
  max-width: 100vw;
  overflow-x: hidden;
}

.character-shadow {
  -moz-box-shadow: inset 0 0 10px 15px #030302;
  -webkit-box-shadow: inset 0 0 10px 15px #030302;
  box-shadow: inset 0 0 10px 15px #030302;
  /* Removes the outline at the edge of the image */
  background-clip: content-box;
  padding: 4px;
}
/* Makes the classes work with responsive web, for example "mobile:character-shadow-mobile" */
@layer utilities {  
  .character-shadow-mobile {
    -moz-box-shadow: inset 0 0 10px 15px #030302;
    -webkit-box-shadow: inset 0 0 10px 15px #030302;
    box-shadow: inset 0 0 10px 15px #030302, inset 0 0 30px 30px #030302;
    /* Removes the outline at the edge of the image */
    background-clip: content-box;
    padding: 4px;
  }
}
.large-character-shadow {
  -moz-box-shadow: inset 0 0 15px 25px #030302;
  -webkit-box-shadow: inset 0 0 15px 25px #030302;
  box-shadow: inset 0 0 15px 25px #030302;
  /* Removes the outline at the edge of the image */
  background-clip: content-box;
  padding: 8px;
}